*.class
*.log
.DS_Store
01/.idea
01/project/project
01/project/target
01/target
04/.idea
04/project/project
04/project/target
04/target
07/.idea
07/project/project
07/project/target
07/target
10/.idea
10/project/project
10/project/target
10/target
12/.idea
12/project/project
12/project/target
12/target
cqrses-billing/Command/.bsp
cqrses-billing/Command/.idea
cqrses-billing/Command/project/project
cqrses-billing/Command/project/target
cqrses-billing/Command/target
scala-dev-mooc/.idea
scala-dev-mooc/project/project
scala-dev-mooc/project/target
scala-dev-mooc/target
scala-mooc/.bsp
scala-mooc/.idea
scala-mooc/project/project
scala-mooc/project/target
scala-mooc/target
otus-scala-developer-homework/.idea
otus-scala-developer-homework/project/project
otus-scala-developer-homework/project/target
otus-scala-developer-homework/target
